<!DOCTYPE html>
<html>
<head>
  <title>Wishable - API</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h1>Wishable API</h1>

	<div class="links">
		<ul>
			<li><%= link_to "User Endpoints", page_path('user_api') %></li>
			<li><%= link_to "Wish Endpoints", page_path('wish_api') %></li>
			<li><%= link_to "Donation Endpoints", page_path('donation_api') %></li>
		</ul>
	</div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
